/* Estilos Gerais */
body,h1,h2,p,ul,li,a{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Poppins",Arial, Helvetica, sans-serif;
  color:#000;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
}
*{
  box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  color: #222;
}
.header img{
  width: 200px;
}
.logo{
padding: 10px 0;
}
.menu-nav ul{
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}
.menu-nav ul li{
  padding: 20px ; 
}
.menu-nav ul li:hover{
  color: #A8A8A8;
}
.bg-intro{
  max-width: 1900px;
  background: url(/assets/img/banner/cat4.jpg)no-repeat center center;
  padding: 60px 0;
  
}
.home-intro{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
}
.home-intro h2{
  color:#fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0 0 20px 10px;
}
.home-intro h1{
  color: #fff;
  font-weight: 500;
  font-size: 80px;
  line-height: 85px;
  margin:  0 0 40px 5px;
}
.home-intro p{
  max-width: 400px;
  font-size: 16px;
  line-height: 30px;
  color: #B8BBC4;
  margin: 0 10px 40px;
}
.home-intro a{
  max-width: 200px;
  display: block;
  margin: 20px 0;
  padding: 15px 0;
  background: #385192;
  color:#ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 10px;
  border-radius: 4px;
}


